################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestRS.Web/obj
/.vs
/TestRS.Core/obj
/TestRS.Infrastructure/obj
