################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestRS.Web/obj
/.vs
/TestRS.Core/obj
/TestRS.Infrastructure/obj
/TestRS.Core/bin/Debug/net7.0
/TestRS.Infrastructure/bin/Debug/net7.0
/TestRS.Web/bin/Debug/net7.0
/TestRS.Web/Logs
